h1 {
    margin-top: 1.5em;
    margin-bottom: 1.75em;
    color: antiquewhite;
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 400;
}

.flex-container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.flexer {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}



.navbar-custom {
    
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    font-family: 'Comfortaa', cursive;
    color: antiquewhite;
    
}

.navbar-custom .navbar-brand {
    color: antiquewhite;
}

.navbar-dark .navbar-nav .nav-link {
    color: antiquewhite;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: antiquewhite;
}

.cover {
    display:flex;
    justify-content: center;
    align-items: center;
}

.popular {
    margin-top: 2em;
    border-radius: 1em;
    transition: transform .6s;
    margin: 1em;
}


.popular:hover {
    transform: scale(1.05);
    
    
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


.container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_text {
    position: relative;
    bottom: -1.5em;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 2em;
    margin-bottom: 0.75em;
    color: rgb(0, 0, 0);
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    position: absolute;
    top: 2em;
}

body {
    background: linear-gradient(300deg, rgb(41, 41, 41), rgb(38, 38, 38), rgb(213, 218, 180));
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-custom {
    font-family: 'Comfortaa', cursive;
    scale: 1.1;
    border-radius: 2em;
    background-color: black;
    color: antiquewhite;
}

.btn-custom:hover {
    background-color: antiquewhite;
    color: black;
}

.carousel {
    margin: auto;
    margin-left: 1.7em;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 200px;
}

.carousel-control-next-icon {
    width: 0px;
}

.carousel-control-prev-icon {
    width: 0px;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
    font-size: 1.2em;
}

.movie_picker {

    color: antiquewhite;
    top: 5.4em;
    position: relative;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-image {
    border-radius: 10px;
}